.App {
  text-align: center;
  background: url(./Images/pexels-cadeau-maestro-1170412.jpg);
  background-size: cover;
  background-position: bottom;
  min-height: 100vh;
  max-height: auto;
}
.container-main {
  padding: 0;
  margin: 0;
  height: 100vh;
  width: 100%;
  background-color: rgba(47, 47, 47, 0.4);
}
input {
  margin: 0.5rem 0;
  padding: 1rem;
  outline: none;
}
.row {
  width: 95vw;
}
form {
  padding: 2rem;
  border-radius: 2.5rem;
  border: 1.5px solid black;
  background: rgb(212, 181, 142);
}
.container {
  height: 100vh;
  width: 100%;
}
input {
  border-radius: 2rem;
  border: 1.5px solid black;
}
label {
  font-weight: 500;
}
